{
    "rules": {
        "import/no-webpack-loader-syntanx": "off"
    },
    "parserOptions": {
        "ecmaVersion": 2016,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}